@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <form  method="post">
    Username:<input type="text" name="user">
    passWord:<input type="text" name="pass">
    <button type="submit">submit</button>
   </form>
</div>
