@using Model;

@{
    ViewData["Title"] = "List";
    List<Student> st=new List<Student>();
        st=ViewData["student"] as List<Student>;
<table>
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Firstname
            </th>
            <th>
                Lastname
            </th>
            <th>
                email
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(Student s in st){
            <tr>
                <td>
                  @s.Id
                </td>
                <td>
                    @s.Firstname
                </td>
                <td>
                    @s.Lastname
                </td>
                <td>
                    @s.email
                </td>
                <td>
                    <a href="Edit/@s.Id">update</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}

